<h1>What do you want to do?</h1>

  <% if signed_in? %>

    <p></p>
    <%= link_to "Your setup", signup_path, :class => "action_button round" %>
    <%= link_to "Your supplier base", signup_path, :class => "action_button round" %>
    <%= link_to "Act with suppliers", signup_path, :class => "action_button round" %>
    <p></p>
    <br />

	<%= link_to "Categories Index Page", categories_path%> <br />
    <%= link_to "Drag and Drop Category Tree", categories_path%><br />

    <table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <h1 class="micropost">What's up?</h1>
          <%= render 'shared/micropost_form' %>
          <%= render 'shared/feed' %>
        </td>
        <td class="sidebar round">
          <%= render 'shared/user_info' %>
          <%= render 'shared/stats' %>
        </td>
      </tr>
    </table>
    
  <% else %>
    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
  <% end %>

