<h1>My company: <%=  Company.find_by_id(current_user.company_id).name %></h1>
<table class="front" summary="For signed-in users">
    <td class="field">
      <%= :Company %>:  <strong><%=  Company.find_by_id(current_user.company_id).name %></strong>.....<%= link_to "Edit", companies_path %><br />
      <%= :DUNS %>:     <strong><%=  Company.find_by_id(current_user.company_id).duns %></strong>.....<%= link_to "Edit", companies_path %><br />
      <%= :Address %>:  <strong><%=  Company.find_by_id(current_user.company_id).address %></strong>.....<%= link_to "Edit", companies_path %><br />
      <%= :City %>:     <strong><%=  Company.find_by_id(current_user.company_id).city %></strong>.....<%= link_to "Edit", companies_path %><br />
      <%= :Province %>: <strong><%=  Company.find_by_id(current_user.company_id).province %></strong>.....<%= link_to "Edit", companies_path %><br />
      <%= :ZIP %>:      <strong><%=  Company.find_by_id(current_user.company_id).zip %></strong>.....<%= link_to "Edit", companies_path %><br />
      <%= :Country %>:  <strong><%=  Company.find_by_id(current_user.company_id).country %></strong>.....<%= link_to "Edit", companies_path %>
    </td>

    <td class="sidebar round">
      <%= render 'shared/user_info' %>
      <%= render 'shared/cpystats' %>
    </td>
</table>

<%= form_for Company.find_by_id(current_user.company_id).cpyrelationships.
                          build(:cpyfollowed_id => @company.id) do |f| %>
  <div class="actions"><%= f.submit "Edit" %></div>
<% end %>
<p>

<h1><%=  Company.find_by_id(current_user.company_id).name %> users: </h1><p>
<ul class="users">
  <li>
    <%= user = User.find_all_by_company_id(current_user.company_id) %>
  </li>
</ul>


<%= form_for Company.find_by_id(current_user.company_id).cpyrelationships.
                          build(:cpyfollowed_id => @company.id) do |f| %>
  <div class="actions"><%= f.submit "Invite a supplier" %></div>  
  <div class="actions"><%= f.submit "Contact a buyer" %></div>
<% end %>
