<h1>My company</h1>
<tr>
  <div class="field">
    <%= @current_company = Company.find_by_id(current_user.company_id) %><br /><br /><br />
    <%= :Company %><td><strong><%=  @current_company.name %></strong>.....<%= link_to "Edit", companies_path %></td><br />
    <%= :DUNS %><td><strong><%=  @current_company.duns %></strong>.....<%= link_to "Edit", companies_path %></td><br />
    <%= :Address %><td><strong><%=  @current_company.address %></strong>.....<%= link_to "Edit", companies_path %></td><br />
    <%= :City %><td><strong><%=  @current_company.city %></strong>.....<%= link_to "Edit", companies_path %></td><br />
    <%= :Province %><td><strong><%=  @current_company.province %></strong>.....<%= link_to "Edit", companies_path %></td><br />
    <%= :ZIP %><td><strong><%=  @current_company.zip %></strong>.....<%= link_to "Edit", companies_path %></td><br />
    <%= :Country %><td><strong><%=  @current_company.country %></strong>.....<%= link_to "Edit", companies_path %></td>
  </div>
</tr>

<h3>Following</h3>
<h3>Followers</h3>


