<h1>Get categories from?</h1>

    <table class="front" summary="For signed-in users">
      <tr>
        <td class="buttoncontainer round">
          <%= render 'shared/addl_info' %>
          <p></p>
          <%= link_to "an imported CSV file", imports_path, :class => "action_button round" %>
          <%= link_to "the Vendor Store", market_path, :class => "action_button round" %>
          <p></p>
        </td>
      </tr>
    </table>

<p></p>

<h2>Category Tree</h2>

<ul>  
<% for category in Category.find_all_by_parent_id(nil) %>  
  <li>  
  <%= link_to h(category.name), :controller => 'categories', :action => 'show', :id => category.id %>    
  <% if Category.find_all_by_parent_id(category.id).empty? %>    
    <span>no subcategories</span>    
  <% else %>      
    <ul>
    <% for category in Category.find_all_by_parent_id(category.id) %>        
      <li><%= link_to h(category.name), :controller => 'categories', :action => 'show', :id => category.id %></li>        
      
      <% if Category.find_all_by_parent_id(category.id).empty? %>    
        <span>no subcategories</span>    
      <% else %>      
        <ul>
        <% for category in Category.find_all_by_parent_id(category.id) %>        
          <li><%= link_to h(category.name), :controller => 'categories', :action => 'show', :id => category.id %></li>        
        <% end %>            
      <% end %>     

    <% end %>      
    </ul>    
  <% end %>  
  </li>  
<% end %> 
</ul>


<br />
<h1>Manage your categories 1 by 1</h1>
  <p></p>
<h4> root categories are highlighted </h4>
<small><strong>NOTE: </strong>DELETING A CATEGORY WITH CHILDREN, ALSO DELETES THE CHILDREN</small>
<p> &nbsp; </p>
<table style="text-align:left;">
  <tr>
    <th>Name</th>
	<th><small>Actions</small></th>
	<th>Parent Category</th>
  </tr>
  <% for category in @categories %>
    <% if category.root? %>
      <tr style="background-color:#EEF">
    <% else %>
      <tr>
    <% end -%>
      <td><%=h category.name %></td>
      <td><%= link_to "Show", category %> &nbsp; <%= link_to "Edit", edit_category_path(category) %> &nbsp; <%= link_to "Destroy", category, :confirm => 'Are you sure?', :method => :delete %></td>
	<% unless category.parent_id.nil? %>
	  <td><%= category.parent.name %></td>
	<% end -%>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Category", new_category_path %></p>

<div class="clear"> </div>
